<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get the Best Loan Deals Online: Quick and Easy Application Process">
    <meta name="keywords" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- circular fonts CSS -->
    <link rel="stylesheet" href="/static/fonts/circular-std/style.css">
    <link rel="stylesheet" href="/static/fonts/icon-font/font-styles.css">
    <!-- fontawesome fonts CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- OwlCarosuel CSS -->
    <link href="/static/css/owl.carousel.css" type="text/css" rel="stylesheet">
    <link href="/static/css/owl.theme.default.css" type="text/css" rel="stylesheet">
    <!-- Slick Slider CSS -->
    <link href="/static/css/slick.css" type="text/css" rel="stylesheet">
    <link href="/static/css/slick-theme.css" type="text/css" rel="stylesheet">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Get the Best Loan Deals Online: Quick and Easy Application Process </title>
</head>

<body>
    <div class="header-classic ">
        <div class="top-header">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div
                        class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 d-none d-xl-block d-lg-block d-md-block order-1">
                        <p>#1 Loan Company </p>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 order-12">
                        <div class="d-flex justify-content-end">
                            <div class="">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-phone fa-fw mr-2 "></i>Free Call: <a
                                            href="whatsapp://send?text=Hello World!&phone=+919785005201"
                                            style="color:#fff" target="_blank">+91-9785005201</a>
                                        <a href="whatsapp://send?text=Hello World!&phone=+919602899898"
                                            style="color:#fff" target="_blank">+91-9602899898</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav class="navbar navbar-expand-lg navbar-classic ">
                        <a class="navbar-brand" href="./"> <img src="/static/images/logo-loan.png" alt="logo"></a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbar-classic" aria-controls="navbar-classic" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="icon-bar top-bar mt-0"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-classic">

                            <ul class="navbar-nav  mt-2 mt-lg-0 mr-xl-3 ml-xl-5">



                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/credit">Credit Card</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="./#services">Personal Loan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./#services">Home Loan</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/carrer">Career</a>
                                </li>

                            </ul>

                            <a href="#contactform" class="btn btn-brand btn-rounded btn-sm ml-auto">Apply Now</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="about-head">
        <h2>Bringing the 'personal touch' <br>to digital personal finance. <br>We are Growfin Capital – <br><span>Bano
                Ab
                Fintech Advisor</span></h2>
    </div>

</div>
<div class="about-banner">
    <div class="container ab-ban">
        <h1>A trustworthy financial services brand for consumers, lenders and partners</h1>
        <p>consumers, lenders and partners
            While most banks and NBFCs offer credit cards and personal loans on their mobile app or website, customers
            still
            largely struggle with the processes and do not have sufficient know-how and confidence to make their own
            decisions.</p>

        <p>Our solution is simple “Bano Ab Fintech Advisor” – we’re stepping in to bridge the gap through a Digital
            Financial Advisor, who will guide the customer from lead generation, application to disbursement for a
            seamless
            experience. We have digitized and standardized the processes to make it smooth and hassle-free, without
            removing
            the ‘human’ angle. The neighborhood advisors are also suitably placed to assist customers in person as and
            when
            required.</p>
        <p>
            Owning the entire customer journey through a singular digital platform, and in effect, standardising
            processes
            across banks enables faster credit decisioning. It also makes it easier to provide effective after-sales
            service. And perhaps most importantly, we are focused on encouraging a new breed of digital financial
            advisors,
            by providing them a platform to build promising careers in personal finance, even without an existing
            customer
            base or prior tie-ups with banks.
        </p>
    </div>


</div>
<div class="container">
    <div class="row py-4 pt-5">
        <div class="col-12 text-center">
            <!-- section heading start -->
            <div>
                <h1>Founding team</h1>
            </div>
            <!-- section heading close -->
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        
        <!-- service block close -->
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
            <!-- service block content -->
            <div class="service-block-v5 service-block card-pattern-bottom">
                <!-- service block img -->
                <div class="service-block-img">
                    <img src="/static/images/parshant-sharma.jpg" alt="Loan Finance, and Banking Website Template - Quanto"
                        class="img-fluid">
                    <!-- service block icon -->

                </div>
                <div class="service-block-content">
                    <!-- service block -->
                    <h4 class="service-block-title"><a href="#" class="title">Parshant Sharma ( Founder & Director )</a>
                    </h4>
                    <!-- service block text -->
                    <p class="service-block-text">
                        Prashant has over an experience of 7 Years in Banking and Insurance and he has worked with HDFC
                        LIFE INSURANCE, BAJAJ LIFE. Before becoming a part of Growfin Capital, he built the agent
                        distribution channel at his another firm MohanJoo Capital.
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/prashant-sharma-b381661a6" target="_blank">
                        <i class="fa-brands fa-linkedin" style="font-size:24px;"></i>
                        </a> &nbsp; 
                        <a href="https://twitter.com/Ps_growfin" target="_blank">
                        <i class="fa-brands fa-square-twitter" style="font-size:24px;"></i>
                        </a>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
            <!-- service block start -->
            <div class="service-block-v5 service-block card-pattern-bottom">
                <!-- service block img -->
                <div class="service-block-img">
                    <img src="/static/images/ankur-sharma.jpeg" alt="Loan Finance, and Banking Website Template - Quanto"
                        class="img-fluid">
                    <!-- service block icon -->

                </div>
                <!-- service block content -->
                <div class="service-block-content">
                    <h4 class="service-block-title"><a href="#" class="title">Ankur Sharma ( Founder & Director )</a>
                    </h4>
                    <p class="service-block-text">
                        Before Growfin Capital, Ankur has nearly an 9 years of experience in finance and retail
                        services, and has worked with HDFC Bank, ICICI Bank and Kotak Mahindra Bank. He has also been
                        associated with another firm by the name of Mitansh Associates indulged in FinTech services.
                    </p>
                </div>
                <!-- service block content -->

            </div>
        </div>


    </div>
</div>

<div class="space-medium ">
    <div class="container">
        <div class="row">
            <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <!-- section heading start -->
                <div class="section-heading text-center">
                    <h2 class="section-heading-title">Our Team</h2>

                </div>
                <!-- section heading close -->
            </div>
        </div>
        <div class="row" id="ourteam">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="team">
                    <img src="/static/images/teams.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="team">
                    <img src="/static/images/teams.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="team">
                    <img src="/static/images/teams.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="team">
                    <img src="/static/images/teams.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="team">
                    <img src="/static/images/teams.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



  <!-- footer-section -->
  <div class="footer-pattern-top">
        <div class="footer-pattern-slide"></div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <!-- footer-widget -->
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">
                            Contact Address
                        </h3>
                         
                        <p class="mb-0">6th floor,819<br> Anchor Mall Civil lines  <br></p>
                        <p class="mb-0"> Jaipur Rajasthan</p>
                        <p class="mb-4"><a href="mailto:info@growfincapital.com" style="color:#fff">info@growfincapital.com</a> </p>
                        <a href="https://goo.gl/maps/y8VZmk7vsvZRMzW19" class="btn btn-rounded location-btn">View Our Location</a>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- footer-widget -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">
                           Service
                        </h3>
                        <ul class="list-unstyled angle-right">
                            <li><a href="./#services">Home Loan</a></li>
                            <li><a href="./#services">Personal Loan</a></li>
                            <li><a href="credit-card.php">Credit Card</a></li>
                           
                        </ul>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- footer-widget -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">
                            Company
                        </h3>
                        <ul class="list-unstyled angle-right">
                            <li><a href="about.php">About us </a></li>
                            
                            <li><a href="#contactform">Contact us</a></li>
                            <li><a href="career.php">Career</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- /.footer-widget -->
                <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="footer-widget">
                    <div class="row">
                <div class=" col-12 ">
                    <!-- <ul class="list-unstyled d-flex social-link">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
                <div class=" col-12 ">
                    <ul class="list-unstyled">
                        <li class="mr-3">Copyright © 2023 Growfin Capital.</li>
                        <li><a href="./">All Rights Reserved</a></li>
                       
                    </ul>
                </div>
            </div>
                    </div>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
   
    <a href="javascript:" id="return-to-top" class="returntotop"><i class="fa fa-angle-up"></i></a>
    <!-- /.tiny-footer-section -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/multiple-carousel.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/main-js.js"></script>
    <script src="/static/js/return-to-top.js"></script>
</body>

</html>