<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get the Best Loan Deals Online: Quick and Easy Application Process">
    <meta name="keywords" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- circular fonts CSS -->
    <link rel="stylesheet" href="/static/fonts/circular-std/style.css">
    <link rel="stylesheet" href="/static/fonts/icon-font/font-styles.css">
    <!-- fontawesome fonts CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- OwlCarosuel CSS -->
    <link href="/static/css/owl.carousel.css" type="text/css" rel="stylesheet">
    <link href="/static/css/owl.theme.default.css" type="text/css" rel="stylesheet">
    <!-- Slick Slider CSS -->
    <link href="/static/css/slick.css" type="text/css" rel="stylesheet">
    <link href="/static/css/slick-theme.css" type="text/css" rel="stylesheet">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Get the Best Loan Deals Online: Quick and Easy Application Process </title>
</head>

<body>
    <div class="header-classic ">
        <div class="top-header">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div
                        class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 d-none d-xl-block d-lg-block d-md-block order-1">
                        <p>#1 Loan Company </p>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 order-12">
                        <div class="d-flex justify-content-end">
                            <div class="">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-phone fa-fw mr-2 "></i>Free Call: <a
                                            href="whatsapp://send?text=Hello World!&phone=+919785005201"
                                            style="color:#fff" target="_blank">+91-9785005201</a>
                                        <a href="whatsapp://send?text=Hello World!&phone=+919602899898"
                                            style="color:#fff" target="_blank">+91-9602899898</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav class="navbar navbar-expand-lg navbar-classic ">
                        <a class="navbar-brand" href="./"> <img src="/static/images/logo-loan.png" alt="logo"></a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbar-classic" aria-controls="navbar-classic" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="icon-bar top-bar mt-0"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-classic">

                            <ul class="navbar-nav  mt-2 mt-lg-0 mr-xl-3 ml-xl-5">



                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/credit">Credit Card</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="">Personal Loan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Home Loan</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/carrer">Career</a>
                                </li>

                            </ul>

                            <a href="#contactform" class="btn btn-brand btn-rounded btn-sm ml-auto">Apply Now</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="about-head">
        <h2>We are building the future of financial services distribution. Become a part of our growing team</span></h2>
    </div>

</div>
<div class="about-banner">
    <div class="container ab-ban">
        <h1>Why work with us</h1>
        <p>Founded by a bunch of serial entrepreneurs with years of fintech and banking experience, Growfin Capital is building
            the next generation of the tech-enabled marketplace for financial products to cater to India’s 200 million
            middle and lower-middle-class who are expected to fuel the demand in the coming years. Work with us for a
            rewarding career in building a large financial services organisation.</p>


    </div>


</div>


<div class="container ">

    <div class="row mt-5">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
            <!-- section heading start -->
            <div class="section-heading text-center">
                <h2 class="section-heading-title">Job Opening</h2>

            </div>
            <!-- section heading close -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- custom list strat-->
            <div class="custom-list list-group">
                <!-- list group item -->

                <!-- list group item -->
                <!-- list group item -->

                {% for c in career%}
                <div class="list-job flex-column  align-items-start">
                    <h4 class="custom-list-title">{{c.Job_Title}}</h4>
                    <ul class="job-detail">
                        <li>{{c.Education_Requriement}}</li>
                        <li><i class="fa-solid fa-calendar-days"></i> {{c.Experience_Requriement}}+ Year</li>
                        <li><i class="fa-sharp fa-solid fa-location-dot"></i> {{c.Job_Location}}</li>
                        <h5 class="custom-list-title">{{c.Job_summary}}</h5>
                        <p>{{c.Details}}</p>
                    </ul>
                    <button type="button" class="btn btn-job-apply" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Apply Now
                </button>
                    <div class="job-details jobs">
                        
                        
                        <h5 class="custom-list-title">Principal responsibilities</h5>
                        <ul>
                            <li>{{c.Principal_Responsibilities}}
                            </li>
                        </ul>
                    

                    </div>

                </div>
                {% endfor  %}

            </div>
        </div>
    </div>



</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content job-form-bg">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-3">
                <!-- Form -->
                <form class="" method = "post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row job-form">
                        <div class="form-group col-md-11">
                            <label for="name" class="">Your Name<span class="text-danger">*</span></label>
                            <input type="text" name = "name" class="form-control" id="name" placeholder="" required="">
                        </div>
                        <div class="form-group col-md-11">
                            <label for="phone" class="">Your Phone<span class="text-danger">*</span></label>
                            <input type="text"  name = "phone" class="form-control" id="phone" placeholder="" required="">
                        </div>
                        <div class="form-group col-md-11">
                            <label for="email" class="">Your Email<span class="text-danger">*</span></label>
                            <input type="email" name = "email" class="form-control" id="email" placeholder="" required="">
                        </div>
                        <div class="form-group col-md-11">
                            <label for="email" class="">Position applying for<span class="text-danger">*</span></label>
                            <input type="text" name = "postition" postion" class="form-control" id="email" placeholder="" required="">
                        </div>
                        <div class="form-group col-md-11">
                            <label for="email" class="">
                                Upload resume* (Formats accepted .pdf, .doc, .docx)<span
                                    class="text-danger">*</span></label>
                            <label for="myfile">Select files:</label>
                            <input type = "file" name = "file">
                        </div>



                    </div>
                    <div class="col-10">

                        <button type="submit" class="btn btn-job-apply">Apply Now</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



  <!-- footer-section -->
  <div class="footer-pattern-top">
        <div class="footer-pattern-slide"></div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <!-- footer-widget -->
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">
                            Contact Address
                        </h3>
                         
                        <p class="mb-0">6th floor,819<br> Anchor Mall Civil lines  <br></p>
                        <p class="mb-0"> Jaipur Rajasthan</p>
                        <p class="mb-4"><a href="mailto:info@growfincapital.com" style="color:#fff">info@growfincapital.com</a> </p>
                        <a href="https://goo.gl/maps/y8VZmk7vsvZRMzW19" class="btn btn-rounded location-btn">View Our Location</a>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- footer-widget -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">
                           Service
                        </h3>
                        <ul class="list-unstyled angle-right">
                            <li><a href="./#services">Home Loan</a></li>
                            <li><a href="./#services">Personal Loan</a></li>
                            <li><a href="credit-card.php">Credit Card</a></li>
                           
                        </ul>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- footer-widget -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">
                            Company
                        </h3>
                        <ul class="list-unstyled angle-right">
                            <li><a href="about.php">About us </a></li>
                            
                            <li><a href="#contactform">Contact us</a></li>
                            <li><a href="career.php">Career</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- /.footer-widget -->
                <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="footer-widget">
                    <div class="row">
                <div class=" col-12 ">
                    <!-- <ul class="list-unstyled d-flex social-link">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
                <div class=" col-12 ">
                    <ul class="list-unstyled">
                        <li class="mr-3">Copyright © 2023 Growfin Capital.</li>
                        <li><a href="./">All Rights Reserved</a></li>
                       
                    </ul>
                </div>
            </div>
                    </div>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
   
    <a href="javascript:" id="return-to-top" class="returntotop"><i class="fa fa-angle-up"></i></a>
    <!-- /.tiny-footer-section -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/multiple-carousel.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/main-js.js"></script>
    <script src="/static/js/return-to-top.js"></script>
</body>

</html>